@model VGSShop.Models.Page

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/page/{Model.Alias}";
}

<main class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-detail-item">
                        <div class="blog-content text-start pb-0">
                            <div class="blog-meta text-dim-gray pb-3">                                
                            </div>
                            <h5 class="title mb-4">
                                <a href="@url">@Model.PageName</a>
                            </h5>
                            @Html.Raw(Model.Contents)                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>