
<div class="footer-area">
    @Html.AntiForgeryToken()
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Thông tin liên hệ</h3>                 
                        @await Component.InvokeAsync("Footer")

                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Information</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="/page/Chinh-sach-bao-mat">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="/page/Chinh-sach-doi-tra">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="/page/Huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">FanPage</h3>
                        <ul class="widget-list-item">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© 2021 Harmic Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">HasThemes</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>